:root {
  --largura-minima: 15rem;
  --padding-mobile: 1rem;
  --padding-tablet: 2rem;
}

.container {
  background-color: var(--black);
  height: 100vh;
}
.container > main {
  background-color: var(--black);
  flex: 1;
  margin: 1rem;
  min-width: var(--largura-minima);
  margin: auto;
  padding: var(--padding-mobile);
  padding-bottom: 1rem;
  overflow: hidden;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
}
.inputs {
  /* Espaçamento para os botões no rodapé da página */
  margin-bottom: 5.5rem;
  background-color: var(--black);
  gap: 1rem;
}
.dimensions,
.dimensions > img {
  background-color: var(--gray-600);
}
.dimensions {
  background-color: var(--gray-600);
  border-radius: 24px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.buttons {
  min-width: var(--largura-minima);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--padding-mobile);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--black);
  max-width: 1024px;
  margin: auto;
}
.back,
.back > a,
.inputs > div {
  background-color: var(--black);
}
.back svg {
  background-color: transparent;
  fill: var(--green-300);
  font-size: 3rem;
  margin: 0.7rem 0 0 0.7rem;
  cursor: pointer;
}
/* estilo para tablet em modo retrato */
@media (min-width: 768px) and (orientation: portrait) {
  .container > main {
    /* background-color: rgb(255, 145, 145); */
    padding: var(--padding-tablet);
  }
  .buttons {
    /* background-color: rgb(255, 145, 145); */
    padding: var(--padding-tablet);
  }

  .back svg {
    font-size: 4rem;
    margin: 1rem 0 0 2rem;
  }
}

/* estilo para tablet em modo paisangen */
@media (min-width: 768px) and (orientation: landscape) {
  .container > main {
    /* background-color: rgb(145, 196, 255); */
    padding: var(--padding-tablet);
  }
  .buttons {
    /* background-color: rgb(145, 196, 255); */
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
    padding: var(--padding-tablet);
  }
  .back svg {
    font-size: 4rem;
    margin: 2rem 0 0 2rem;
  }
}
