:root {
  --black: #000000;
  --white: #ffffff;

  --green-500: #dcfa97;
  --green-300: #bdff22;

  --gray-300: #363740;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1500px;
  margin: 0 auto;
}

body {
  background: var(--black);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
